<main>
  <aside>
    <div class="liste-serveur">
      <div
        class="serveur"
        routerLink="/ajout-serveur"
        matTooltip="Créer un nouveau serveur"
        matTooltipPosition="right"
      >
        <mat-icon fontIcon="add_circle"></mat-icon>
      </div>
      @for (serveur of listeServeur; track serveur._id) {
      <div
        class="serveur"
        [matTooltip]="serveur.nom"
        matTooltipPosition="right"
        (click)="selectServer(serveur._id)"
      >
        <img [attr.src]="serveur.urlLogo" />
      </div>
      }
    </div>
    @if (selectedServerId) {
    <div class="salon">
      <div class="creeSalon" #creeSalon>
        @if (!isCreatingSalon) {
        <p (click)="toggleCreateSalon()">crée un salon</p>
        } @if (isCreatingSalon) {
        <input
          [(ngModel)]="newSalonName"
          (blur)="addSalon()"
          (keydown.enter)="addSalon()"
          placeholder="Nom du salon"
        />
        <div class="button-container">
          <button mat-icon-button color="primary" (click)="addSalon()">
            <mat-icon fontIcon="check"></mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelCreateSalon()">
            <mat-icon fontIcon="close"></mat-icon>
          </button>
        </div>
        }
      </div>
      <ul>
        @for (salon of getSelectedServer().salons; track salon.id) {
        <li class="listeSalon" (click)="selectSalon(salon.id)">{{ salon.name }}</li>
        }
      </ul>
    </div>
  }
  <div class="info-profil">
    <img
      class="avatar"
      src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es"
    />
    <span>{{ user?.email }}</span>
    <mat-icon
      class="bouton-profil"
      fontIcon="settings"
      routerLink="/profil"
    ></mat-icon>
  </div>
</aside>
<div class="messageContainer">

  @if (selectedSalonId) {
    <div class="liste-message">
    @for (message of messagesForSelectedSalon; track message._id) {
      <div class="message">
        <img
          class="avatar"
          [src]="message.urlAvatar"
          alt="User Avatar"
          (click)="toggleBlacklistButton(message._id)"
          />
          @if (showBlacklistButton === message._id) {
            <button mat-icon-button class="blackList" (click)="addToBlacklist(message.userId)">
              black lister ?
              <mat-icon>block</mat-icon>
            </button>
          }
        <div class="partie-message">
          <div class="utilisateur">{{ message.email }}</div>
          <p class="contenu">{{ message.content }}</p>
        </div>
      </div>
    }
  </div>
  <div class="inputContainer">
    <input [(ngModel)]="newMessageContent" (keydown.enter)="sendMessage()" placeholder="Votre message" />
    <button mat-icon-button color="primary" (click)="sendMessage()">
      <mat-icon fontIcon="send"></mat-icon>
    </button>
  </div>
}
</div>
</main>